/*
	@package pktechietheme
*/
/*
	Import
	------------------------------------------------
*/
/*
	@package pktechietheme
*/
/*
	Variables
	------------------------------------------------
*/
/*
	@package pktechietheme
*/
/*
	Mixins
	------------------------------------------------
*/
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
/*
	@package pktechietheme
*/
/*
	Placeholder
	------------------------------------------------
*/
.site-description, .pktechie-format-image .entry-header, .pktechie-format-gallery .carousel-control {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4); }

.entry-excerpt.image-caption {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000', GradientType=0);
  /* IE6-9 */ }

/*
	@package pktechietheme
*/
/* 
	Font Icon 
	------------------------------------------------
*/
@font-face {
  font-family: 'pktechie-icon';
  src: url("../fonts/pktechie-icon.eot?o1l4o7");
  src: url("../fonts/pktechie-icon.eot?o1l4o7#iefix") format("embedded-opentype"), url("../fonts/pktechie-icon.ttf?o1l4o7") format("truetype"), url("../fonts/pktechie-icon.woff?o1l4o7") format("woff"), url("../fonts/pktechie-icon.svg?o1l4o7#pktechie-icon") format("svg");
  font-weight: normal;
  font-style: normal; }
.pktechie-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'pktechie-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.pktechie-twitter:before {
  content: "\e900"; }

.pktechie-googleplus:before {
  content: "\e901"; }

.pktechie-facebook:before {
  content: "\e902"; }

.pktechie-audio:before {
  content: "\e800"; }

.pktechie-chevron-left:before {
  content: "\e801"; }

.pktechie-chevron-right:before {
  content: "\e802"; }

.pktechie-close:before {
  content: "\e803"; }

.pktechie-comment:before {
  content: "\e804"; }

.pktechie-link:before {
  content: "\e805"; }

.pktechie-loading:before {
  content: "\e806"; }

.pktechie-logo:before {
  content: "\e807"; }

.pktechie-menu:before {
  content: "\e808"; }

.pktechie-pencil:before {
  content: "\e809"; }

.pktechie-pics:before {
  content: "\e80a"; }

.pktechie-search:before {
  content: "\e80b"; }

.pktechie-share:before {
  content: "\e80c"; }

.pktechie-tag:before {
  content: "\e80d"; }

.pktechie-video:before {
  content: "\e80e"; }

/* 
	Generic 
	------------------------------------------------
*/
body {
  font-family: "Raleway", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif; }

a {
  color: #000000;
  -webkit-transition: color 320ms ease;
  -moz-transition: color 320ms ease;
  -ms-transition: color 320ms ease;
  -o-transition: color 320ms ease;
  transition: color 320ms ease; }
  a:hover, a:focus {
    text-decoration: none;
    color: #333333; }

.background-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.table {
  display: table;
  width: 100%;
  height: 100%; }
  .table .table-cell {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle; }

/* 
	Header 
	------------------------------------------------
*/
.header-container {
  position: relative;
  display: block;
  height: auto; }

.site-title {
  color: #fff;
  margin: 0;
  font-size: 80px; }

.site-description {
  font-size: 14px;
  color: #e46f55;
  margin-top: 1em; }

/*.nav-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}*/
/* 
	Nav Bar 
	------------------------------------------------
*/
.navbar-pktechie {
  text-align: center;
  border: none;
  border-radius: 0;
  min-height: auto;
  margin-bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1); }
  .navbar-pktechie ul {
    float: none; }
  .navbar-pktechie li {
    float: none;
    display: inline-block; }
    .navbar-pktechie li.active a {
      opacity: 1; }
      .navbar-pktechie li.active a:after {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        opacity: 1; }
    .navbar-pktechie li.open a {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.1) !important; }
      .navbar-pktechie li.open a:after {
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
        transform: translateY(10px);
        opacity: 0 !important; }
      .navbar-pktechie li.open a:hover, .navbar-pktechie li.open a:focus, .navbar-pktechie li.open a:visited {
        background-color: rgba(0, 0, 0, 0.1) !important; }
        .navbar-pktechie li.open a:hover:after, .navbar-pktechie li.open a:focus:after, .navbar-pktechie li.open a:visited:after {
          -webkit-transform: translateY(10px);
          -moz-transform: translateY(10px);
          -ms-transform: translateY(10px);
          -o-transform: translateY(10px);
          transform: translateY(10px);
          opacity: 0 !important; }
    .navbar-pktechie li a {
      text-transform: uppercase;
      color: #000;
      font-size: 12px;
      opacity: 0.7;
      letter-spacing: 0.05em;
      background: none;
      -webkit-transition: opacity 320ms ease;
      -moz-transition: opacity 320ms ease;
      -ms-transition: opacity 320ms ease;
      -o-transition: opacity 320ms ease;
      transition: opacity 320ms ease; }
      .navbar-pktechie li a:hover, .navbar-pktechie li a:focus, .navbar-pktechie li a:visited {
        background: none;
        opacity: 1;
        color: #e46f55; }
        .navbar-pktechie li a:hover:after, .navbar-pktechie li a:focus:after, .navbar-pktechie li a:visited:after {
          -webkit-transform: translateY(0);
          -moz-transform: translateY(0);
          -ms-transform: translateY(0);
          -o-transform: translateY(0);
          transform: translateY(0);
          opacity: 1; }
      .navbar-pktechie li a:after {
        content: '';
        position: absolute;
        display: block;
        left: 15px;
        right: 15px;
        bottom: 14px;
        height: 2px;
        background: #fff;
        -webkit-transition: all 320ms ease;
        -moz-transition: all 320ms ease;
        -ms-transition: all 320ms ease;
        -o-transition: all 320ms ease;
        transition: all 320ms ease;
        opacity: 0;
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
        transform: translateY(10px); }
    .navbar-pktechie li ul.dropdown-menu {
      border: 0;
      border-radius: 0;
      background: rgba(0, 0, 0, 0.75); }
      .navbar-pktechie li ul.dropdown-menu li {
        display: block; }
        .navbar-pktechie li ul.dropdown-menu li a:hover, .navbar-pktechie li ul.dropdown-menu li a:focus, .navbar-pktechie li ul.dropdown-menu li a:visited {
          background: rgba(0, 0, 0, 0.25) !important;
          color: #fff; }

/* 
	Standard Post Format 
	------------------------------------------------
*/
article {
  padding-top: 40px;
  padding-bottom: 40px; }
  article:first-child {
    padding-top: 80px; }
  @media (max-width: 767px) {
    article {
      padding-top: 20px;
      padding-bottom: 20px; } }

h1 {
  font-size: 48px;
  font-weight: 200; }
  h1 a {
    color: #000000; }
  h1.entry-title {
    line-height: 1.5em;
    margin: 0;
    padding: 0; }
    h1.entry-title:before {
      content: '<';
      display: inline-block;
      position: relative;
      color: #e46f55; }
    h1.entry-title:after {
      content: '>';
      display: inline-block;
      position: relative;
      color: #e46f55; }
    h1.entry-title:before {
      margin-right: 10px; }
    h1.entry-title:after {
      margin-left: 10px; }
  @media (max-width: 767px) {
    h1 {
      font-size: 26px; } }

.entry-meta {
  font-size: 13px;
  font-weight: 200;
  color: #898989;
  margin-bottom: 20px; }
  .entry-meta a {
    font-weight: 500;
    color: #898989; }
    .entry-meta a:hover, .entry-meta a:focus {
      color: #333333; }

.standard-featured-link {
  display: block;
  position: relative; }
  .standard-featured-link:hover .standard-featured:after, .standard-featured-link:focus .standard-featured:after {
    background-color: rgba(0, 0, 0, 0); }

.standard-featured {
  height: 330px;
  display: block;
  position: relative; }
  .standard-featured:after {
    -webkit-transition: background-color 320ms ease;
    -moz-transition: background-color 320ms ease;
    -ms-transition: background-color 320ms ease;
    -o-transition: background-color 320ms ease;
    transition: background-color 320ms ease;
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.35); }
  @media (max-width: 767px) {
    .standard-featured {
      height: 220px; } }

.entry-excerpt {
  margin: 30px 0 16px; }
  .entry-excerpt p {
    font-size: 17px;
    line-height: 1.5em;
    font-weight: 300;
    letter-spacing: 0.02em; }

.button-container {
  margin-bottom: 30px; }

.btn-pktechie,
a.btn-pktechie,
.entry-content a.btn-pktechie {
  -webkit-transition: all 320ms ease;
  -moz-transition: all 320ms ease;
  -ms-transition: all 320ms ease;
  -o-transition: all 320ms ease;
  transition: all 320ms ease;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  color: #898989;
  padding: 8px 12px;
  border-radius: 0;
  border: 1px solid #898989;
  background-color: #f1ede4; }
  .btn-pktechie:hover, .btn-pktechie:focus,
  a.btn-pktechie:hover,
  a.btn-pktechie:focus,
  .entry-content a.btn-pktechie:hover,
  .entry-content a.btn-pktechie:focus {
    color: #ffffff;
    border-color: #333333;
    background-color: #e46f55; }

.entry-footer {
  padding: 10px 5px;
  border-bottom: 4px solid #F1F1F1;
  color: #898989;
  text-transform: uppercase; }
  .entry-footer a {
    color: #898989;
    display: inline-block;
    font-size: 12px; }
    .entry-footer a:hover, .entry-footer a:focus {
      color: #333333; }
  .entry-footer .tags-list .pktechie-icon {
    margin-right: 10px; }
  .entry-footer .tags-list a {
    padding: 0 4px; }
  .entry-footer .comments-link .pktechie-icon {
    margin-left: 10px; }

/* 
	Image Post Format 
	------------------------------------------------
*/
.pktechie-format-image .entry-header {
  height: 650px;
  position: relative; }
.pktechie-format-image h1,
.pktechie-format-image .entry-meta,
.pktechie-format-image .entry-header {
  color: #ffffff; }
  .pktechie-format-image h1 a,
  .pktechie-format-image .entry-meta a,
  .pktechie-format-image .entry-header a {
    color: #ffffff; }
.pktechie-format-image h1 {
  padding-top: 10px; }

.entry-excerpt.image-caption {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0; }
  .entry-excerpt.image-caption p {
    margin: 20px 0;
    font-size: 14px;
    color: #fff; }

/* 
	Audio Post Format 
	------------------------------------------------
*/
.pktechie-format-audio h1 {
  font-size: 30px; }
  .pktechie-format-audio h1.entry-title {
    display: inline-block;
    margin-right: 20px; }
    .pktechie-format-audio h1.entry-title:before, .pktechie-format-audio h1.entry-title:after {
      display: none; }
.pktechie-format-audio .entry-meta {
  display: inline-block;
  margin-bottom: 0; }
.pktechie-format-audio .entry-content iframe {
  width: 100%;
  height: 166px; }

/* 
	Video Post Format 
	------------------------------------------------
*/
/* 
	Gallery Post Format 
	------------------------------------------------
*/
.pktechie-format-gallery .standard-featured {
  height: 500px; }
  .pktechie-format-gallery .standard-featured:after {
    background-color: transparent; }
.pktechie-format-gallery .carousel-control {
  background: none;
  background-image: none;
  opacity: 1;
  filter: alpha(opacity=100);
  font-size: 30px;
  width: auto; }
  .pktechie-format-gallery .carousel-control .preview-container {
    position: relative;
    display: block;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: background-color 320ms ease;
    -moz-transition: background-color 320ms ease;
    -ms-transition: background-color 320ms ease;
    -o-transition: background-color 320ms ease;
    transition: background-color 320ms ease;
    line-height: 0; }
    .pktechie-format-gallery .carousel-control .preview-container .thumbnail-container {
      position: absolute;
      display: block;
      height: 68px;
      width: 68px;
      border-radius: 50%;
      background: #999;
      top: 1px;
      -webkit-transition: transform 320ms ease;
      -moz-transition: transform 320ms ease;
      -ms-transition: transform 320ms ease;
      -o-transition: transform 320ms ease;
      transition: transform 320ms ease;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0); }
  .pktechie-format-gallery .carousel-control.right .preview-container {
    padding-left: 80px;
    border-radius: 35.5px 0 0 35.5px; }
    .pktechie-format-gallery .carousel-control.right .preview-container .thumbnail-container {
      left: 1px; }
  .pktechie-format-gallery .carousel-control.left .preview-container {
    padding-right: 80px;
    border-radius: 0 35.5px 35.5px 0; }
    .pktechie-format-gallery .carousel-control.left .preview-container .thumbnail-container {
      right: 1px; }
  .pktechie-format-gallery .carousel-control:hover .preview-container, .pktechie-format-gallery .carousel-control:focus .preview-container {
    background-color: rgba(0, 0, 0, 0.8); }
    .pktechie-format-gallery .carousel-control:hover .preview-container .thumbnail-container, .pktechie-format-gallery .carousel-control:focus .preview-container .thumbnail-container {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
.pktechie-format-gallery .entry-excerpt.image-caption {
  -webkit-transition: transform 320ms ease;
  -moz-transition: transform 320ms ease;
  -ms-transition: transform 320ms ease;
  -o-transition: transform 320ms ease;
  transition: transform 320ms ease;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%); }
.pktechie-format-gallery:hover .entry-excerpt.image-caption {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }

/*# sourceMappingURL=pktechie.css.map */
