/*
	@package pktechietheme
*/

/*
	Variables
	------------------------------------------------
*/
$icon-font : 'pktechie-icon';
$body-font : 'Raleway', 'Helvetica Neue', 'Helvetica', Arial, Verdana, sans-serif;

$primary-color : #000000;
$dark-grey : #333333;
$grey: #f1ede4;
$grey2: #CBCBCB;
$light-grey : #898989;
$lighter-grey : #F1F1F1;
$orange : #e46f55;
$orange-hover : #e46f55;

// Media Queries

$xs: 767px;